@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

@font-face {
  font-family: proxima;
  src: url(./proxima/ProximaNova-Regular.otf);
}
* {
  outline: none;
  font-family: proxima;
}

:root {
  --yellow--: #fcd51f;
  --darkGray--: #343d47;
  --Graddish--: #1a1d20;
}

html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
body {
  /* font-family: "Lato", sans-serif; */
  box-sizing: border-box;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--darkGray--) !important;
  color: #fff;
  cursor: pointer;
  padding: 0rem;
  padding: .8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 50%;
}
#myBtn .fa{
  font-size: 1.5rem !important;
}
#myBtn:hover {
  background-color: var(--yellow--) !important;
  color: var(--Graddish--);
}

.app {
  overflow: hidden;
  position: relative;
  height: 85vh;
}
@media(max-width: 767px){
  .app {
  height: 65vh;
}
}
